* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    height: 800px;
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-content {
    position: absolute;
    right: 15%;
    width: 400px;
    text-align: right;
}

.header-content h1{
    letter-spacing: 3px;
    font-size: 50px;
}

.header-content p{
    margin: 20px 0;
    line-height: 25px;
}

.primary-button{
    padding: 15px 20px;
    background: orangered;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}


/* failure section start from here */

.failure-experience{
    width: 90%;
    margin: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person-image img{
    width: 450px;
}

.person-content{
    width: 450px;
}

.person-content h1{
    font-size: 38px;
}

.person-content p{
    margin: 25px 0;
    line-height: 22px;
}

.person-content ul li{
    list-style: none;
    line-height: 25px;
}

.person-content ul li a i{
    color: orange;
    margin-right: 10px;
}



/* my plan section start from here */

.my-plan{
    width: 90%;
    margin: auto;
    text-align: center;
}

.my-plan h1{
    font-size: 35px;
}

.my-plan-container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-plan-container img{
    width: 60px;
}

.my-plan-container h3{
    margin: 8px 0;
}

.my-plan-container p{
    font-weight: bold;
    color: grey;
}