* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    height: 800px;
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-content {
    position: absolute;
    right: 15%;
    width: 400px;
    text-align: right;
}

.header-content h1{
    letter-spacing: 3px;
    font-size: 50px;
}

.header-content p{
    margin: 20px 0;
    line-height: 25px;
}

.primary-button{
    padding: 15px 20px;
    background: orangered;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}


/* failure section start from here */

.failure-experience{
    width: 90%;
    margin: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person-image img{
    width: 450px;
}

.person-content{
    width: 450px;
}

.person-content h1{
    font-size: 38px;
}

.person-content p{
    margin: 25px 0;
    line-height: 22px;
}

.person-content ul li{
    list-style: none;
    line-height: 25px;
}

.person-content ul li a i{
    color: orange;
    margin-right: 10px;
}



/* my plan section start from here */

.my-plan{
    width: 90%;
    margin: auto;
    text-align: center;
}

.my-plan h1{
    font-size: 35px;
}

.my-plan-container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-plan-container img{
    width: 60px;
}

.my-plan-container h3{
    margin: 8px 0;
}

.my-plan-container p{
    font-weight: bold;
    color: grey;
}


/* mind set section start from here */

.mind-set-container{
    height: 300px;
    width: 1100px;
    margin: 80px auto;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0.25), rgba(117, 19, 93, 0.98)),
    url('../images/watch.png');
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.mind-set-content{
    width: 40%;
    margin-left: 60px;
    color: #fff;
}

.mind-set-content h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.mind-set-btn{
    color: orangered;
    background: #fff;
    font-weight: bold;
}



/* footer section start from here */

.footer-containe{
    background-color: #151414;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

.footer-contact-details, .footer-subscribe{
    width: 30%;
    padding-left: 7%;
}

.footer-contact-details p{
    line-height: 25px;
    margin: 15px 0;
}

.footer-contact-details img{
    margin-right: 10px;
    width: 40px;
    cursor: pointer;
}

.footer-subscribe h1{
    font-size: 20px;
}

.footer-subscribe input{
    display: block;
    margin: 25px 0;
    border: 2px solid #fff;
    background: none;
    outline: none;
    color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}